.site-layout-background {
  background: #fff;
  padding-top: 20px; /* Add top space */
}

.ant-menu-item {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.ant-menu-item a {
  color: #000;
  display: flex;
  align-items: center;
}

.ant-menu-item a:hover {
  color: #1890ff;
}

.ant-menu-item-selected {
  background-color: #e6f7ff !important;
}

.ant-menu-item-selected a {
  color: #1890ff !important;
}

.ant-menu-item:hover {
  background-color: #f0f0f0;
}

.ant-menu-item .anticon {
  margin-right: 10px;
}
